# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data/model artifacts (optional)
outputs/models/

# Large data files
data/publications.csv

# OS
.DS_Store
Thumbs.db
/.venv/
/outputs/
/data/
/screenshot/
**/.ipynb_checkpoints/
__pycache__/
*.py[cod]
.DS_Store
