pandas==2.2.2
numpy==1.26.4

matplotlib==3.8.4
seaborn==0.13.2

datasets==2.19.1

transformers==4.41.2
torch>=2.1.0
sentencepiece==0.2.0

sacrebleu==2.4.3
nltk==3.8.1
scikit-learn==1.4.2

streamlit==1.37.0
